<a href="https://colab.research.google.com/github/josejimenez20/Android_Studio_Ciclo_III/blob/main/Copia_de_Fundamentos_de_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo")
Nombre = "Jose Jimenez"


print("Hola ", Nombre, ", inicial: ", Nombre[0], Nombre[5])

Hola Mundo
Hola  Jose Jimenez , inicial:  J J

EJERCICIO, crear un programa en python que sume dos numeros

In [ ]:
num1 = 5
num2 = 9.5
resp = num1 + num2
print("la suma es:", resp)

la suma es: 14.5

EJERCICIO, Crear un programa en python que sume dos numeros introducidos por el usuario

In [ ]:
print("Num1")
Num1 = float(input())

print("Num2")
Num2 = float(input())

resp = Num1 + Num2
print("la suma es:", resp)

Num1
10
Num2
10
la suma es: 20.0

In [ ]:
#Tipos de datos
num1 = 5
num2 = 5.9
nombre = "Jose Jimenez"
print(nombre[0:4], nombre[:4], nombre[-1], nombre[5:], nombre[5:len(nombre)])

estado = True
print(estado)

print(type(nombre), type(num1), type(num2), type(estado))

Jose Jose z Jimenez Jimenez
True
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

EJERCICIO, cree un programa en python que lea un numero y dertermine si es par o impar

In [ ]:
num = int(input("Ingrese un numero: "))
if num % 2 == 0:
    print("El numero es par" , num)
else:
    print("El numero es impar")

Ingrese un numero: 5
El numero es impar

EJERCICIO: Uso de las funciones de usuario, con la suma de dos numeros.

In [ ]:
def suma(num1, num2):
    return num1 + num2

num1 = float(input("Num 1: "))
num2 = float(input("Num 2: "))
resp = suma(num1, num2)
print("La suma es: ", resp)

Num 1: 1
Num 2: 1
La suma es:  2.0

EJERCICIO: Coonvertir grados celsius a farenheit, usando funciones de usuario.

In [ ]:
def convertir_cf(c):
    return c * 1.8 + 32

c = float(input("Celsius: "))
print("F: ", convertir_cf(c))

Celsius: 5
F:  41.0

EJERCICIO: Determina si un numero es par o impar

In [ ]:
def parImpar(num):
    if num % 2 == 0:
        return "par"
    return "impar"

num = int(input("Num: "))
print("El número", num, "es:", parImpar(num))

Num: 7
El número 7 es: impar

Tarea para MIERCOLES
Convertir grados Fahrenheit a Celsius

In [ ]:
def convertir_fc(f):
    return (f - 32) / 1.8

f = float(input("Fahrenheit: "))
print("Celsius: ", convertir_fc(f))

Fahrenheit: 1
Celsius:  -17.22222222222222

Convertir grados [Celsius y Fahrenheit] a Kelvin

In [ ]:
# Función para convertir grados Fahrenheit a Celsius
def convertir_fc(f):
    return (f - 32) / 1.8

# Función para convertir grados Celsius a Kelvin
def convertir_ck(c):
    return c + 273.15

# Función para convertir grados Fahrenheit a Kelvin
def convertir_fk(f):
    return (f - 32) / 1.8 + 273.15

# Solicitar al usuario ingresar grados Fahrenheit y Celsius
f = float(input("Ingrese grados Fahrenheit: "))
c = float(input("Ingrese grados Celsius: "))

# Convertir y mostrar los resultados
print("Celsius desde Fahrenheit: ", convertir_fc(f))
print("Kelvin desde Celsius: ", convertir_ck(c))
print("Kelvin desde Fahrenheit: ", convertir_fk(f))

Ingrese grados Fahrenheit: 1
Ingrese grados Celsius: 1
Celsius desde Fahrenheit:  -17.22222222222222
Kelvin desde Celsius:  274.15
Kelvin desde Fahrenheit:  255.92777777777775

EJERCICIO: Calcular el sueldo de un trabajador

In [ ]:
def sueldo(numHrs, valorXHrs):
    sueldo = numHrs * valorXHrs * 30
    if numHrs > 8:
        sueldo = sueldo + (numHrs - 8) * valorXHrs * 30 * 0.5
    return sueldo

numHrs = int(input("Horas: "))
valorXHrs = float(input("Valor: "))
print("Sueldo: ", sueldo(numHrs, valorXHrs))

Horas: 15
Valor: 5
Sueldo:  2775.0

Ejercicio: Elevar un numero al cuadro

In [ ]:
def elevarCuadrado(base,exponente):
  return base**exponente

In [ ]:
def elevarCuadrado(base, exponente):
    return base**exponente

num = int(input("Num: "))
print("Cuadrado: ", elevarCuadrado(num, 3))

Num: 3
Cuadrado:  27

Usando funciones lambra

In [ ]:
elevarCuadradoLambda = lambda base, exponente: base**exponente

In [ ]:
valor = int(input("Num:"))
print("Cuadrado: ", elevarCuadradoLambda(valor, 2))

Num:3
Cuadrado:  9

In [ ]:
serie = [5,4,2,6,7]
resp = map(lambda x: x**2, serie)
print(list(resp))

[25, 16, 4, 36, 49]

EJERCICIO: Obtener la raiz cuadrada de una serie de numeros

In [ ]:
import math
def obtenerRaizCuadrada(lista_numeros):
    return [math.sqrt(num) for num in lista_numeros]

numeros = input("Introduce una serie de números separados por comas: ")
numeros_lista = [float(num) for num in numeros.split(",")]

raices = obtenerRaizCuadrada(numeros_lista)
print("Las raíces cuadradas son: ", raices)

Introduce una serie de números separados por comas: 5,6,8,4,7,1,2,3
Las raíces cuadradas son:  [2.23606797749979, 2.449489742783178, 2.8284271247461903, 2.0, 2.6457513110645907, 1.0, 1.4142135623730951, 1.7320508075688772]

Ejercicio 1: Calcular deducciones sobre el sueldo
Calcule las deducciones de ISSS (3%), AFP (6.25%), e ISR.

In [ ]:
sueldo_a = float(input("Ingrese el sueldo: "))

ISSS = sueldo_a * 0.03
AFP = sueldo_a * 0.0625
ISR = sueldo_a * 0.00

total_deducciones = ISSS + AFP + ISR

sueldo_b = sueldo_a - total_deducciones

print(f"ISSS: ${ISSS:.2f}")
print(f"AFP: ${AFP:.2f}")
print(f"ISR: ${ISR:.2f}")
print(f"Total deducciones: ${total_deducciones:.2f}")
print(f"Sueldo: ${sueldo_b:.2f}")

Ingrese el sueldo: 500
ISSS: $15.00
AFP: $31.25
ISR: $0.00
Total deducciones: $46.25
Sueldo: $453.75

Ejercicio 2: Calcular el valor a pagar según los metros consumidos de agua potable.

In [ ]:
def calcular_valor_agua(metros_consumidos):
    if metros_consumidos <= 18:
        return 6
    elif 19 <= metros_consumidos <= 28:
        exceso = metros_consumidos - 18
        return 6 + (exceso * 0.45)
    else:
        exceso = metros_consumidos - 28
        return 6 + (10 * 0.45) + (exceso * 0.65)


metros_consumidos = int(input("Ingrese el número de los metros consumidos: "))
valor_a_pagar = calcular_valor_agua(metros_consumidos)
print(f"Valor a pagar: ${valor_a_pagar:.2f}")

Ingrese el número de los metros consumidos: 5
Valor a pagar: $6.00

Ejercicio 3: Desarrollar la tabla de meses acumulados

In [ ]:
def calcular_acumulacion(meses):
    acumulacion = 0
    for i in range(1, meses + 1):
        acumulacion += i
    return acumulacion

meses = int(input("Ingrese el número de meses: "))
resultado = calcular_acumulacion(meses)
print(f"Acumulación de {meses} meses: {resultado}")

Ingrese el número de meses: 3
Acumulación de 3 meses: 6

Ejercicio 5: Creación de un conversor propio

In [ ]:
def convertir_cajas_unidades(cajas):
    return cajas * 25

def convertir_unidades_cajas(unidades):
    return unidades / 25

def convertir_sacos_libras(sacos):
    return sacos * 50

def convertir_libras_sacos(libras):
    return libras / 50

def convertir_fardos_unidades(fardos):
    return fardos * 5

def convertir_unidades_fardos(unidades):
    return unidades / 5
def conversor():
    print("Seleccione la conversión que desea realizar:")
    print("1: Cajas a Unidades")
    print("2: Unidades a Cajas")
    print("3: Sacos a Libras")
    print("4: Libras a Sacos")
    print("5: Fardos a Unidades")
    print("6: Unidades a Fardos")

    opcion = int(input("Ingrese el número de la opción deseada: "))

    if opcion == 1:
        cajas = float(input("Ingrese el número de cajas: "))
        print(f"{cajas} cajas son {convertir_cajas_unidades(cajas)} unidades.")
    elif opcion == 2:
        unidades = float(input("Ingrese el número de unidades: "))
        print(f"{unidades} unidades son {convertir_unidades_cajas(unidades)} cajas.")
    elif opcion == 3:
        sacos = float(input("Ingrese el número de sacos: "))
        print(f"{sacos} sacos son {convertir_sacos_libras(sacos)} libras.")
    elif opcion == 4:
        libras = float(input("Ingrese el número de libras: "))
        print(f"{libras} libras son {convertir_libras_sacos(libras)} sacos.")
    elif opcion == 5:
        fardos = float(input("Ingrese el número de fardos: "))
        print(f"{fardos} fardos son {convertir_fardos_unidades(fardos)} unidades.")
    elif opcion == 6:
        unidades = float(input("Ingrese el número de unidades: "))
        print(f"{unidades} unidades son {convertir_unidades_fardos(unidades)} fardos.")
    else:
        print("Opción no válida")

conversor()

Seleccione la conversión que desea realizar:
1: Cajas a Unidades
2: Unidades a Cajas
3: Sacos a Libras
4: Libras a Sacos
5: Fardos a Unidades
6: Unidades a Fardos
Ingrese el número de la opción deseada: 1
Ingrese el número de cajas: 25
25.0 cajas son 625.0 unidades.

Realizar: (10 items como minimo por cada uno)
Longuitud, masa, almacenamiento, tiempo, Volumen, area, Manzanas, tareas.

In [1]:
# Funciones de conversión para Longitud
def convertir_longitud(valor, unidad_origen, unidad_destino):
    conversiones = {
        'm': 1,
        'cm': 100,
        'mm': 1000,
        'km': 0.001,
        'in': 39.3701,
        'ft': 3.28084,
        'yd': 1.09361,
        'mi': 0.000621371,
        'nm': 1000000000,
        'nmi': 0.000539957
    }
    metros = valor / conversiones[unidad_origen]
    return metros * conversiones[unidad_destino]

# Funciones de conversión para Masa
def convertir_masa(valor, unidad_origen, unidad_destino):
    conversiones = {
        'g': 1,
        'kg': 0.001,
        'mg': 1000,
        't': 0.000001,
        'lb': 0.00220462,
        'oz': 0.035274,
        'q': 0.00001,
        'µg': 1000000,
        'st': 0.000157473,
        'dal': 0.001
    }
    gramos = valor / conversiones[unidad_origen]
    return gramos * conversiones[unidad_destino]

# Funciones de conversión para Almacenamiento
def convertir_almacenamiento(valor, unidad_origen, unidad_destino):
    conversiones = {
        'B': 1,
        'KB': 0.001,
        'MB': 1e-6,
        'GB': 1e-9,
        'TB': 1e-12,
        'PB': 1e-15,
        'EB': 1e-18,
        'ZB': 1e-21,
        'YB': 1e-24,
        'nibble': 0.5
    }
    bytes = valor / conversiones[unidad_origen]
    return bytes * conversiones[unidad_destino]

# Funciones de conversión para Tiempo
def convertir_tiempo(valor, unidad_origen, unidad_destino):
    conversiones = {
        's': 1,
        'min': 1/60,
        'h': 1/3600,
        'd': 1/86400,
        'wk': 1/604800,
        'mo': 1/2592000,
        'yr': 1/31536000,
        'ms': 1000,
        'µs': 1e6,
        'ns': 1e9
    }
    segundos = valor / conversiones[unidad_origen]
    return segundos * conversiones[unidad_destino]

# Funciones de conversión para Volumen
def convertir_volumen(valor, unidad_origen, unidad_destino):
    conversiones = {
        'L': 1,
        'mL': 1000,
        'cm³': 1000,
        'm³': 0.001,
        'gal': 0.264172,
        'pt': 2.11338,
        'fl oz': 33.814,
        'tsp': 202.884,
        'tbsp': 67.628,
        'bbl': 0.00628981
    }
    litros = valor / conversiones[unidad_origen]
    return litros * conversiones[unidad_destino]

# Funciones de conversión para Área
def convertir_area(valor, unidad_origen, unidad_destino):
    conversiones = {
        'm²': 1,
        'cm²': 10000,
        'km²': 0.000001,
        'ha': 0.0001,
        'ac': 0.000247105,
        'ft²': 10.7639,
        'yd²': 1.19599,
        'in²': 1550.0031,
        'mi²': 3.861e-7,
        'a': 0.01
    }
    metros_cuadrados = valor / conversiones[unidad_origen]
    return metros_cuadrados * conversiones[unidad_destino]

# Funciones de conversión para Manzanas
def convertir_manzanas(valor, unidad_origen, unidad_destino):
    conversiones = {
        'manzana': 0.0064,
        'cuerda': 0.0069,
        'ha': 0.01,
        'ac': 0.0247105,
        'km²': 0.00001,
        'm²': 6400,
        'ft²': 68814.4,
        'yd²': 7680,
        'hato': 0.0064,
        'tarea': 0.01
    }
    hectareas = valor / conversiones[unidad_origen]
    return hectareas * conversiones[unidad_destino]

# Funciones de conversión para Tareas
def convertir_tareas(valor, unidad_origen, unidad_destino):
    conversiones = {
        'min': 1,
        'h': 1/60,
        'd': 1/1440,
        'wk': 1/10080,
        'mo': 1/43200,
        'yr': 1/525600,
        's': 60,
        'turno': 1/480,
        'reunión': 1/60,
        'intervalo': 1/60
    }
    minutos = valor / conversiones[unidad_origen]
    return minutos * conversiones[unidad_destino]

# Menú de selección
def menu():
    print("Seleccione la categoría para la conversión:")
    print("1. Longitud")
    print("2. Masa")
    print("3. Almacenamiento")
    print("4. Tiempo")
    print("5. Volumen")
    print("6. Área")
    print("7. Manzanas")
    print("8. Tareas")
    print("9. Salir")

    seleccion = int(input("Ingrese el número de la categoría: "))

    if seleccion == 9:
        return

    if seleccion == 1:
        categoria = 'Longitud'
        conversion_func = convertir_longitud
        unidades = ['m', 'cm', 'mm', 'km', 'in', 'ft', 'yd', 'mi', 'nm', 'nmi']
    elif seleccion == 2:
        categoria = 'Masa'
        conversion_func = convertir_masa
        unidades = ['g', 'kg', 'mg', 't', 'lb', 'oz', 'q', 'µg', 'st', 'dal']
    elif seleccion == 3:
        categoria = 'Almacenamiento'
        conversion_func = convertir_almacenamiento
        unidades = ['B', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB', 'nibble']
    elif seleccion == 4:
        categoria = 'Tiempo'
        conversion_func = convertir_tiempo
        unidades = ['s', 'min', 'h', 'd', 'wk', 'mo', 'yr', 'ms', 'µs', 'ns']
    elif seleccion == 5:
        categoria = 'Volumen'
        conversion_func = convertir_volumen
        unidades = ['L', 'mL', 'cm³', 'm³', 'gal', 'pt', 'fl oz', 'tsp', 'tbsp', 'bbl']
    elif seleccion == 6:
        categoria = 'Área'
        conversion_func = convertir_area
        unidades = ['m²', 'cm²', 'km²', 'ha', 'ac', 'ft²', 'yd²', 'in²', 'mi²', 'a']
    elif seleccion == 7:
        categoria = 'Manzanas'
        conversion_func = convertir_manzanas
        unidades = ['manzana', 'cuerda', 'ha', 'ac', 'km²', 'm²', 'ft²', 'yd²', 'hato', 'tarea']
    elif seleccion == 8:
        categoria = 'Tareas'
        conversion_func = convertir_tareas
        unidades = ['min', 'h', 'd', 'wk', 'mo', 'yr', 's', 'turno', 'reunión', 'intervalo']
    else:
        print("Selección no válida")
        return

    print(f"\nCategoría: {categoria}")
    print("Unidades disponibles:")
    for i, unidad in enumerate(unidades):
        print(f"{i + 1}. {unidad}")

    origen = int(input("\nSeleccione la unidad de origen: ")) - 1
    destino = int(input("Seleccione la unidad de destino: ")) - 1

    valor = float(input("Ingrese el valor a convertir: "))

    resultado = conversion_func(valor, unidades[origen], unidades[destino])
    print(f"\n{valor} {unidades[origen]} = {resultado} {unidades[destino]}\n")

# Ejecutar el menú
menu()

Seleccione la categoría para la conversión:
1. Longitud
2. Masa
3. Almacenamiento
4. Tiempo
5. Volumen
6. Área
7. Manzanas
8. Tareas
9. Salir
Ingrese el número de la categoría: 1

Categoría: Longitud
Unidades disponibles:
1. m
2. cm
3. mm
4. km
5. in
6. ft
7. yd
8. mi
9. nm
10. nmi

Seleccione la unidad de origen: 4
Seleccione la unidad de destino: 1
Ingrese el valor a convertir: 15

15.0 km = 15000.0 m

**ESTRUCTURAS DE CONTROL**
**IF**
*Ejercicio: Solicitar la edad y realizar la clasificacion*

In [ ]:
edad = int(input("Ingrese su edad: "))
if edad>17:
    print("Bienvenidos al mundo de las responsabilidad")

Ingrese su edad: 20
Bienvenidos al mundo de las responsabilidad

In [ ]:
continuar = "s"
while continuar == "s":
 edad = int(input("Ingrese su edad: "))
 if edad<0:
    print("Edad Incorrecta")
 elif edad<=2:
    print("Eres un bebe")
 elif edad<12:
    print("Eres un niño")
 elif edad<18:
    print("Eres un adolescente")
 elif edad<65:
    print("Eres un adulto")
 elif edad<85:
    print("Eres un abuelo")
 else:
    print("Larga vida")
 continuar = input("¿Desea continuar? (Precione S, si en caso quiere salir N): ")

Ingrese su edad: 56
Eres un adulto
¿Desea continuar? (Precione S, si en caso quiere salir N): s
Ingrese su edad: 100
Larga vida
¿Desea continuar? (Precione S, si en caso quiere salir N): s
Ingrese su edad: 15
Eres un adolescente
¿Desea continuar? (Precione S, si en caso quiere salir N): n

numero es negativo o positivo

In [ ]:
num = int(input("Ingrese un numero: "))
if num>0:
    print("El numero es positivo")
elif num==0:
        print("El numero es cero")
else:
    print("El numero es negativo")

Ingrese un numero: 0
El numero es cero

Solicitar una tabla de multiplicar y generarla

In [ ]:
continuar = "s"
while continuar == "s":
  tabla = int(input("Ingrese la tabla: "))
  for i in range(1,11):
    print(tabla, "x", i, "=", tabla*i)
    continuar = input("¿Desea continuar? (Precione S, si en caso quiere salir N): ")

Ingrese la tabla: 6
6 x 1 = 6
¿Desea continuar? (Precione S, si en caso quiere salir N): H
6 x 2 = 12
¿Desea continuar? (Precione S, si en caso quiere salir N): X
6 x 3 = 18
¿Desea continuar? (Precione S, si en caso quiere salir N): N
6 x 4 = 24
¿Desea continuar? (Precione S, si en caso quiere salir N): n
6 x 5 = 30
¿Desea continuar? (Precione S, si en caso quiere salir N):
6 x 6 = 36
¿Desea continuar? (Precione S, si en caso quiere salir N):
6 x 7 = 42
¿Desea continuar? (Precione S, si en caso quiere salir N):
6 x 8 = 48
¿Desea continuar? (Precione S, si en caso quiere salir N):
6 x 9 = 54
¿Desea continuar? (Precione S, si en caso quiere salir N):
6 x 10 = 60
¿Desea continuar? (Precione S, si en caso quiere salir N):