<a href="https://colab.research.google.com/github/josejimenez20/Android_Studio_Ciclo_III/blob/main/Copia_de_Fundamentos_de_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo")
Nombre = "Jose Jimenez"


print("Hola ", Nombre, ", inicial: ", Nombre[0], Nombre[5])

Hola Mundo
Hola  Jose Jimenez , inicial:  J J

EJERCICIO, crear un programa en python que sume dos numeros

In [ ]:
num1 = 5
num2 = 9.5
resp = num1 + num2
print("la suma es:", resp)

la suma es: 14.5

EJERCICIO, Crear un programa en python que sume dos numeros introducidos por el usuario

In [ ]:
print("Num1")
Num1 = float(input())

print("Num2")
Num2 = float(input())

resp = Num1 + Num2
print("la suma es:", resp)

Num1
10
Num2
10
la suma es: 20.0

In [ ]:
#Tipos de datos
num1 = 5
num2 = 5.9
nombre = "Jose Jimenez"
print(nombre[0:4], nombre[:4], nombre[-1], nombre[5:], nombre[5:len(nombre)])

estado = True
print(estado)

print(type(nombre), type(num1), type(num2), type(estado))

Jose Jose z Jimenez Jimenez
True
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

EJERCICIO, cree un programa en python que lea un numero y dertermine si es par o impar

In [ ]:
num = int(input("Ingrese un numero: "))
if num % 2 == 0:
    print("El numero es par" , num)
else:
    print("El numero es impar")

Ingrese un numero: 5
El numero es impar

EJERCICIO: Uso de las funciones de usuario, con la suma de dos numeros.

In [ ]:
def suma(num1, num2):
    return num1 + num2

num1 = float(input("Num 1: "))
num2 = float(input("Num 2: "))
resp = suma(num1, num2)
print("La suma es: ", resp)

Num 1: 1
Num 2: 1
La suma es:  2.0

EJERCICIO: Coonvertir grados celsius a farenheit, usando funciones de usuario.

In [ ]:
def convertir_cf(c):
    return c * 1.8 + 32

c = float(input("Celsius: "))
print("F: ", convertir_cf(c))

Celsius: 5
F:  41.0

EJERCICIO: Determina si un numero es par o impar

In [ ]:
def parImpar(num):
    if num % 2 == 0:
        return "par"
    return "impar"

num = int(input("Num: "))
print("El número", num, "es:", parImpar(num))

Num: 7
El número 7 es: impar

Tarea para MIERCOLES
Convertir grados Fahrenheit a Celsius

In [ ]:
def convertir_fc(f):
    return (f - 32) / 1.8

f = float(input("Fahrenheit: "))
print("Celsius: ", convertir_fc(f))

Fahrenheit: 5
Celsius:  -15.0

Convertir grados [Celsius y Fahrenheit] a Kelvin

In [ ]:
# Función para convertir grados Fahrenheit a Celsius
def convertir_fc(f):
    return (f - 32) / 1.8

# Función para convertir grados Celsius a Kelvin
def convertir_ck(c):
    return c + 273.15

# Función para convertir grados Fahrenheit a Kelvin
def convertir_fk(f):
    return (f - 32) / 1.8 + 273.15

# Solicitar al usuario ingresar grados Fahrenheit y Celsius
f = float(input("Ingrese grados Fahrenheit: "))
c = float(input("Ingrese grados Celsius: "))

# Convertir y mostrar los resultados
print("Celsius desde Fahrenheit: ", convertir_fc(f))
print("Kelvin desde Celsius: ", convertir_ck(c))
print("Kelvin desde Fahrenheit: ", convertir_fk(f))

Ingrese grados Fahrenheit: 1
Ingrese grados Celsius: 5
Celsius desde Fahrenheit:  -17.22222222222222
Kelvin desde Celsius:  278.15
Kelvin desde Fahrenheit:  255.92777777777775

EJERCICIO: Calcular el sueldo de un trabajador

In [ ]:
def sueldo(numHrs, valorXHrs):
    sueldo = numHrs * valorXHrs * 30
    if numHrs > 8:
        sueldo = sueldo + (numHrs - 8) * valorXHrs * 30 * 0.5
    return sueldo

numHrs = int(input("Horas: "))
valorXHrs = float(input("Valor: "))
print("Sueldo: ", sueldo(numHrs, valorXHrs))

Horas: 15
Valor: 5
Sueldo:  2775.0

Ejercicio: Elevar un numero al cuadro

In [4]:
def elevarCuadrado(base,exponente):
  return base**exponente

In [9]:
def elevarCuadrado(base, exponente):
    return base**exponente

num = int(input("Num: "))
print("Cuadrado: ", elevarCuadrado(num, 3))

Num: 3
Cuadrado:  27

Usando funciones lambra

In [10]:
elevarCuadradoLambda = lambda base, exponente: base**exponente

In [11]:
valor = int(input("Num:"))
print("Cuadrado: ", elevarCuadradoLambda(valor, 2))

Num:3
Cuadrado:  9

In [12]:
serie = [5,4,2,6,7]
resp = map(lambda x: x**2, serie)
print(list(resp))

[25, 16, 4, 36, 49]

EJERCICIO: Obtener la raiz cuadrada de una serie de numeros

In [13]:
import math
def obtenerRaizCuadrada(lista_numeros):
    return [math.sqrt(num) for num in lista_numeros]

numeros = input("Introduce una serie de números separados por comas: ")
numeros_lista = [float(num) for num in numeros.split(",")]

raices = obtenerRaizCuadrada(numeros_lista)
print("Las raíces cuadradas son: ", raices)

Introduce una serie de números separados por comas: 5,6,8,4,7,1,2,3
Las raíces cuadradas son:  [2.23606797749979, 2.449489742783178, 2.8284271247461903, 2.0, 2.6457513110645907, 1.0, 1.4142135623730951, 1.7320508075688772]